h1 {
    color:white;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 75px;
    letter-spacing: 0.11em;
    margin-top: 216px;
}


header {
    background:#47382B;
    padding: 0;
}