h1 {
    color:white;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 75px;
    letter-spacing: 0.11em;
    margin-top: 216px;
}
.textform{
    color:black;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 50px;
}

header {
    background:#47382B;
    padding: 0;
}

.box {
	text-align: center;
}
.button {
    display: block;
	font-size: 10px;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #403e3d;
	border-radius: 0px;
	text-align: center;
	font-weight: 600;
    font-family: 'Montserrat';
	width: 100px;
	border-radius: 0;
	transition: all 0.5s ease;
	margin: auto;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapper h2 {
	margin-top: 0;
	color: #333;
}
.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapper .close:hover {
	color: #06D85F;
}
.wrapper .content {
	max-height: 30%;
	overflow: auto;
}
/*form*/


form label {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
input[type="submit"] {
	background-color: #413b3b;
	color: #fff;
	padding: 15px 50px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
}