body{
    background-color: #D0B8A8;
    margin: 0;
}
h2 {
    color: black;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 35px;
    margin-top: 50px;

}
h3 {
    color: black;
    font-family: 'Montserrat';
    font-size: 15px;
    margin-top: 10px;

}
[type=checkbox] {
  display: none;
}

[type=checkbox]:checked + img {
  border: 1px solid white;
}
.btn {
    color: white;
	font-size: 17px;
    font-family: 'Montserrat';
    text-align: center;
	padding: 17px 30px;
	width: 460px;
	border-radius: 0;
	transition: all 0.5s ease;
	margin-top: 20px;
}
.sec_btn{
    border: 2px solid white;
}
.sec_btn:hover {
	background: white;
    color: black;
}

.main_btn{
	font-weight: 600;
    text-align: center;
	background: #A15DB9;
}
#primary{
    margin-bottom: 100px;
}

.main_btn:hover {
	background: white;
    color: black;
}
.col-5 {
  text-align: center;
}
/*
#prim2{
    width: 510px;
}
#sec2{
    width: 510px;
}
*/

#volume{

    width: 460px;
}