{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" href="static/css/img_converter.css">
{% endblock %}

{% block main %}

<div>
  <form method="post" enctype="multipart/form-data" id="todo-form">
    <div class="container">
      <div class="row">
        <div class="col section">
          <h2 id="first">Art Style</h2>
          <table>
            <tbody>
                <tr>
                    <td>
                      <input type="radio" id="radio-1" name="radiostyle" value="image_style_1" checked/>
                      <label for="radio-1">
                        <img src="static/img/1.svg" alt="image style"/>
                      </label>
                      <h4>comic</h4>
                    </td>
                    <td>
                      <input type="radio" id="radio-2" name="radiostyle" value="image_style_2"/>
                      <label for="radio-2">
                        <img src="static/img/2.svg" alt="image style" />
                      </label>
                      <h4>cubes</h4>
                    </td>
                    <td>
                      <input type="radio" id="radio-3" name="radiostyle" value="image_style_3"/>
                      <label for="radio-3">
                        <img src="static/img/3.svg" alt="image style" />
                      </label>
                      <h4>ornament</h4>
                    </td>
                    <td>
                      <input type="radio" id="radio-4" name="radiostyle" value="image_style_4"/>
                      <label for="radio-4">
                        <img src="static/img/4.svg" alt="image style" />
                      </label>
                      <h4>sea</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                      <input type="radio" id="radio-5" name="radiostyle" value="image_style_5"/>
                      <label for="radio-5">
                        <img src="static/img/5.svg" alt="image style" />
                      </label>
                      <h4>lines</h4>
                    </td>
                    <td>
                      <input type="radio" id="radio-6" name="radiostyle" value="image_style_6"/>
                      <label for="radio-6">
                        <img src="static/img/6.svg" alt="image style" />
                      </label>
                      <h4>citrus</h4>
                    </td>
                    <td>
                      <input type="radio" id="radio-7" name="radiostyle" value="image_style_7"/>
                      <label for="radio-7">
                        <img src="static/img/7.svg" alt="image style" />
                      </label>
                      <h4>random style</h4>
                    </td>
                    <td>
                      <input type="radio" id="radio-8" name="radiostyle" value="image_style_8"/>
                      <label for="radio-8">
                        <img src="static/img/8.svg" alt="image style" />
                      </label>
                      <h4>add your style</h4>
                    </td>
                </tr>
            </tbody>
          </table>
          <h2>Input Image</h2>
          <h3>Suggested input images</h3>
          <table>
            <tbody>
              <tr>
                <td>
                  <input type="radio" id="radio-9" name="radioimage" value="content_image_1" checked/>
                  <label for="radio-9">
                      <img src="static/img/content1.svg" alt="image" />
                  </label>
                  <h4>cat</h4>
                  </td>
                <td>
                  <input type="radio" id="radio-10" name="radioimage" value="content_image_2"/>
                  <label for="radio-10">
                      <img src="static/img/content2.svg" alt="image" />
                  </label>
                  <h4>dog</h4>
                </td>
                <td>
                  <input type="radio" id="radio-11" name="radioimage" value="content_image_3"/>
                  <label for="radio-11">
                      <img src="static/img/7.svg" alt="image" />
                  </label>
                  <h4>random image</h4>
                </td>
                <td>
                  <input type="radio" id="radio-12" name="radioimage" value="content_image_4" />
                  <label for="radio-12">
                    <img src="static/img/8.svg" alt="image" />
                  </label>
                  <h4>add your image</h4>
                </td>
              </tr>
            </tbody>
          </table>
          <h2>Adjust Influence</h2>
          <div>
            <input type="range" id="volume" name="content_blending_ratio" min="0" max="1" step="0.01">
          </div>
          <button type="submit" class="btn main_btn" id="primary" >CREATE</button>
        </div>
        <div class="col-5">
          <h2>Art Preview</h2>
          <img src="static/img/file.png" id="art_preview" width="460" height="460" alt="preview" />
          <a href="/static/img/file.png" download="converted_image" class="btn main_btn" id="prim2">DOWNLOAD</a>
          <a href="#" class="btn sec_btn" >SAVE TO PROFILE</a>
          <p><a href="https://vk.com/" class="link">share on social media</a></p>
        </div>
      </div>
    </div>
    <div>
      <input type="file" class="invisible" id="upload_style" accept="image/jpeg" name="upload_style"/>
      <input type="file" class="invisible" id="upload_content"  accept="image/jpeg" name="upload_content"/>
    </div>
  </form>



  <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).on('submit','#todo-form', function(e) {
      e.preventDefault();
      let data = $(this).serialize();
      $.ajax({
        type:'POST',
        data: data,
        success: function(result) {
<!--            alert('AJAX');-->
            var $img = $("#art_preview");
            $img.attr("src", $img.attr("src").split("?")[0] + "?" + Math.random());
        },
        error: function() {
          alert('Error');
        }
      })
    });
  </script>

  <script>
    document.getElementById("radio-12").onchange = openDialogImage12;

    function openDialogImage12() {
      var type = document.getElementById("radio-12");
      document.querySelector('input[name="upload_content"]').click();
    }
  </script>

  <script>
    document.getElementById("radio-8").onchange = openDialogImage8;

    function openDialogImage8(event) {
      var type = document.getElementById("radio-8");
      document.querySelector('input[name="upload_style"]').click();
    }
  </script>
</div>
{% endblock %}
