{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" href="static/css/img_converter.css">
{% endblock %}

{% block main %}
<div>
  <h2>Art Style</h2>
  <table>
    <tbody>
        <tr>
            <td>
              <label>
                <input type="checkbox" />
                <img src="static/img/1.jpg" alt="image style" />
              </label>
            </td>
            <td>
              <label>
                <input type="checkbox" />
                <img src="static/img/2.jpg" alt="image style" />
              </label>
            </td>
            <td>
              <label>
                <input type="checkbox" />
                <img src="static/img/3.jpg" alt="image style" />
              </label>
            </td>
            <td>
              <label>
                <input type="checkbox" />
                <img src="static/img/1.jpg" alt="image style" />
              </label>
            </td>
        </tr>
        <tr>
            <td>
              <label>
                <input type="checkbox" />
                <img src="static/img/1.jpg" alt="image style" />
              </label>
            </td>
            <td>
              <label>
                <input type="checkbox" />
                <img src="static/img/2.jpg" alt="image style" />
              </label>
            </td>
            <td>
              <label>
                <input type="checkbox" />
                <img src="static/img/3.jpg" alt="image style" />
              </label>
            </td>
            <td>
              <label>
                <input type="checkbox" />
                <img src="static/img/1.jpg" alt="image style" />
              </label>
            </td>
        </tr>
    </tbody>
  </table>

    <h2>Input Image</h2>
    <h3>Suggested input images</h3>
    <a href="#" class="btn">Upload your image</a>
    <h2>Adjust Influence</h2>
    <h2 class="right">Art Preview</h2>
</div>
{% endblock %}
