{% extends "base.html" %}

{% block content %}
<div class="btn-group">
<!--  <p><a href="sample.html"><img src="images/sample.gif" width="50" -->
<!--   height="50" alt="Пример"></a></p>-->
  <p><a href="carousel"><img src="static/img/1.jpg" class="card-img-top" alt="..."></a></p>

<!--  <img src="static/img/1.jpg" class="card-img-top" alt="...">-->
<!--  <img src="static/img/2.jpg" class="card-img-top" alt="...">-->
<!--  <img src="static/img/3.jpg" class="card-img-top" alt="...">-->
</div>

{% endblock %}